#listPageContent {
    width: 1200px;
    margin: 0 auto;
    color: #666;
}
.pageTitle {
    font-size: 12px;
    color: #5d0e23;
    padding: 25px 0 16px 0;
    line-height: 19px;
    position: relative;
    z-index: 2;
    em {
        display: inline-block;
        padding: 0 5px;
        margin-top: -1px;
        width: 20px;
        height: 12px;
        background-position: 12px 5px;
    }
}
.sl-bar-trigger {
    padding: 0 18px 0 7px;
    height: 19px;
    border: 1px solid transparent;
    position: relative;
    z-index: 2;
    h1{
        display: inline;
        font-size: 12px;
        font-weight: normal;
    }
    .arr{
        display: block;
        width: 7px;
        height: 4px;
        // vertical-align: middle;
        background-position: -20px 0px;
        transition: all .2s ease;
        position: absolute;
        top: 8px;
        right: 7px;
        background-image: url(../img/search_icon3.png);
        background-repeat: no-repeat;
    }
}

.sl-bar-cont {
    display: none;
    width: 100%;
    margin-bottom: 14px;
    background: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 1;
    .sl-bar-cont .sl-list {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: 0 0 13px rgba(204, 204, 204,1);
        padding-left: 40px;
    }
    ul {
        overflow: hidden;
        padding: 22px 0 16px 0;
        width: 100%;
        li {
            width: 9.9%;
            float: left;
            margin-bottom: 8px;
            height: 26px;
            line-height: 26px;
            a.int {
                color: #999;
            }
        }
    }
}

// 筛选栏
.selectCondition {
    background: #fff;
    width: 1200px;
    margin-top: 15px;
    dl {
        border-bottom: 1px dashed #ededed;
        min-height: 46px;
        clear: both;
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        dt{
            float: left;
            width: 81px;
            padding-left: 30px;
            line-height: 45px;
            color: #666;
        }
        dd{
            float: left;
            padding-left: 10px;
            width: 1078px;
            min-height: 46px;
            background: #fff;
            .brand{
                padding: 15px 0 6px 0;
                max-height: 70px;
                height: auto;
                a{
                    width: 155px;
                    height: 22px;
                    line-height: 22px;
                    text-indent: 5px;
                    margin: 5px 5px 5px 0;
                    padding-left: 5px;
                    position: relative;
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    // white-space: nowrap;
                    // overflow: hidden;
                    padding: 0 22px 0 10px;
                }
            }
            .smallList {
                width: 960px;
                overflow: hidden;
                a{
                    margin: 12px 0 0 0;
                    max-width: 180px;
                    height: 22px;
                    padding: 0 22px 0 10px;
                    white-space: nowrap;
                    max-width: 180px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                a:hover{
                    color: #e93b39;
                }
            }
            .bigList {
                width: 1046px;
                visibility: hidden;
                position: absolute;
            }
        }
        a.brandChoice {
            position: absolute;
            right: 24px;
            top: 15px;
            padding-right: 12px;
            width: 30px;
            background-position: 27px -107px;
            i{
                background-image: url(../img/search_icon3.png);
                background-repeat: no-repeat;
            }
            
        }
        a.brandmore {
            position: absolute;
            right: 69px;
            top: 15px;
            padding-left: 12px;
            width: 30px;
            i{
                background-image: url(../img/search_icon3.png);
                background-repeat: no-repeat;
            }
          
        }
    }
}
// 商品列表
.product_box {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .product_tips {
        background: #fff;
        margin-left: -1px;
        height: 40px;
        font-size: 0;
        a{
            padding: 0 30px;
            height: 29px;
            display: inline-block;
            font: normal 18px/18px "microsoft yahei";
            color: #999;
            background: url(../img/listline.jpg) no-repeat center left;
            text-align: center;
            padding-top: 9px;
            position: relative;

        }
        a.on {
            border-top: 2px solid #e93b39;
        }
    }
}
.product_tips a.on, .product_tips a:hover {
    color: #e93b39;
}

.product_control {
    display: flex;
    padding: 10px 30px 0;
    min-height: 30px;
    background: #f5f5f5;
    position: relative;
    width: 1200px;
    box-sizing: border-box;
    .product_control_btn {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        a.on {
            background: #e93b39;
            border-color: #e93b39;
            color: #fff;
            i{
                background-position: 5px -194px;
            }
        }
        a{
            line-height: 20px;
            width: 45px;
            height: 22px;
            text-align: center;
            border: 1px solid #ededed;
            margin-left: -1px;
            position: relative;
            z-index: 1; 
            i{
                width: 12px;
                height: 12px;
                vertical-align: middle;
            }
        }
    }
}



.product_control_price {
    width: 124px;
    height: 44px;
    overflow: hidden;
    vertical-align: middle;
    margin: -10px 10px 0 0;

    div {
        width: 104px;
        *width: 114px;
        height: 24px;
        padding: 10px 10px 0;
        // font-size: 0;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        i {
            border-top: 1px solid #acacac;
            width: 8px;
            margin: 0 1px;
            height: 3px;
            vertical-align: middle;
        }
    }
    span{
        width: 45px;
        height: 22px;
        border: 1px solid #ededed;
        background-color: #fff;
        background-position: 3px -281px;
        text-align: right;
        background-image: url(../img/search_icon3.png);
    background-repeat: no-repeat;
    input{
        width: 33px;
        height: 14px;
        border: 0 none;
        margin-top: 4px;
    }
    }
}

.product_control_check {
    height: 34px;
    vertical-align: top;
    label.c000 {
        color: #000;
    }
    label {
        padding-right: 15px;
        cursor: pointer;
        color: #666;
        padding-top: 4px;
        *padding-top: 2px;
    }
}

.product_control_search {
    width: 192px;
    height: 44px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: -10px 0 0 0;
    div {
        position: relative;
        width: 192px;
        height: 24px;
        padding: 10px 0 0;
        // font-size: 0;
        vertical-align: middle;
    }
    span {
        width: 149px;
        height: 22px;
        display: inline-block;
        border: 1px solid #ededed;
        background-color: #fff;
        border-right: none;
        input {
            width: 139px;
            height: 15px;
            margin-top: 3px;
            line-height: 15px\9;
            padding-left: 10px;
            border: 0 none;
            border-radius: 0;
        }
    }
    .goBtn {
        width: 40px;
        height: 19px;
        padding-top: 3px;
        height: 18px\9;
        padding-top: 4px\9;
        display: inline-block;
        position: absolute;
        right: 1px;
        top: 10px;
        text-align: center;
        color:black;
        border: 1px solid #ededed;
        background: #fff;
    }
}

.product_control_page {
    position: absolute;
    right: 30px;
    top: 12px;
    height: 19px;
}

.commodity-list dl {
    width: 240px;
    height: 360px;
    margin: 0 25px 56px 25px;
    vertical-align: top;
    position: relative;
    z-index: 1;
    div.show_tips {
        transition: border-color 1s cubic-bezier(0.35, 0.2, 0.55, 1.0);
        border-color: #dedcdc;
    }
}
.commodity-list dl dt {
    width: 240px;
    height: 240px;
}
.commodity-list {
        .dl_size {
        width: 240px;
        background: #f5f5f5;
        display: none;
        text-align: center;
    }
    dl{
        dd.mini_nav {
            width: 240px;
            height: 52px;
            margin-top: 10px;
            position: relative;
            color: #fff;
        }
        dd .mini_nav_box {
            width: 162px;
            margin: 0 auto;
            height: 52px;
            overflow: hidden;
            position: relative;
            ul{
                width: 10000px;
                position: absolute;
                left: 0;
                top: 0;
                li{
                    width: 52px;
                    margin-right: 3px;
                    float: left;
                    position: relative;
                }
            }
        }
        dd.dl_tips {
            height: 16px;
            width: 240px;
            font-size: 12px;
            margin-top: 15px;

        }
        dd.dl_name {
            height: 28px;
            padding: 15px 0 3px;
            line-height: 15px;
            overflow: hidden;
            border-top: 1px solid #ebebeb;
            margin-top: 10px;
            a:visited {
                color: #666 !important;
            }
        }
        dd.dl_price {
            padding-top: 3px;
        }
        dd.dl_price span i {
            font: bold 12px/16px "microsoft yahei";
        }
    }
    
}

.commodity-list dl dd.dl_price span, .commodity-list dl dd.dl_price b {
    float: left;
    line-height: 16px;
}
span.s1{
    background: #000;
}
span.s2{
    background: #e93b39;
}
.commodity-list dl {
    width: 240px;
    height: 360px;
    margin: 0 25px 56px 25px;
    vertical-align: top;
    position: relative;
    z-index: 1;
    float: left;
}


.product_page {
    background: black;
    font-size: 0;
    text-align: center;
    padding-bottom: 40px;
    margin-top: -19px;
    a.off {
        color: #999;
        border-color: #ccc;
        background: none;
    }
    a.on {
        color: #e93a38;
        background: none;
        border: none;
    }
    a {
        height: 22px;
        border: 1px solid #e8e8e8;
        color: #333;
        padding: 0 8px;
        line-height: 25px;
        margin-left: 8px;
        vertical-align: top;
    }
}

